<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>健康会所</title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">管理员添加技师</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="userName" placeholder="技师名" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="pwd" placeholder="密码">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="rePwd" placeholder="确认密码">
                                </div>
                            </div>
                            <a href="#" onclick="checkValidityAndSubmit();" class="btn btn-primary btn-user btn-block">
                                添加
                            </a>
                            <a class="btn btn-primary btn-user btn-block" href="/updateJishi">返回</a>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script>
    function checkValidityAndSubmit() {
        var user={
            "jsName":"",
            "jsPwd":"",
            "jsStatu":0
        };
        if(checkUserName(user)&&checkPwd(user))
        {
            var staticUser=JSON.stringify(user);
            $.ajax({
                type:"POST",
                url:"/dojishiSignUp",
                contentType:'application/json;charset=UTF-8',
                data:staticUser,
                success:function (data) {
                    if(data=="success"){
                        alert("注册成功");
                    }
                    else if(data=="failure"){
                        alert("账号重复");
                    }

                },
                error:function (e) {
                    alert("注册失败"+e);
                }
            });
        }
    }
    /*
    function checkPhone(user) {
        var phone=$("#phone").val();
        user.phone=phone;
        //var reg= /^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/;
        //if(reg.test(phone))
        if(phone.length == 11)
        {
            return true;
        }
        else
        {
            alert("手机号码输入错误");
        }
        return false;
    }
    */

    function checkUserName(user) {
        var userName=$("#userName").val();
        user.jsName=userName;
        var reg=/[a-zA-Z]\w{5,12}/
        if(reg.test(userName))
        {
            return true;
        }
        else
        {
            alert("账号输入错误");
        }
        return false;
    }
    function checkPwd(user) {
        var pwd=$("#pwd").val();
        var rePwd=$("#rePwd").val();
        user.jsPwd=pwd;
        var reg=/\w{6,12}/;
        if(pwd==rePwd &&reg.test(pwd)){
            return true;
        }
        else{
            alert("密码输入错误");
        }
        return false;
    }

    /*
    function checkAddr(user) {
        var addr=$("#addr").val();
        user.addr=addr;
        return true;
    }*/
</script>
</body>

</html>
