target/
.idea/
s.iml
.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
target/classes/application.properties
*.class
*.properties
*.xml
src/main/java/com/sebookstore/demo/.DS_Store
src/main/java/com/sebookstore/.DS_Store
src/main/java/com/.DS_Store
src/main/java/.DS_Store
src/main/.DS_Store
src/.DS_Store
*.xml
*.xml
.DS_Store

#java
*.class

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar
#maven ignore
target/
build/

#eclipse ignore
.settings/
.project
.classpatch

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db